.lista-recetas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin-top: 3%;
  }
  
  .receta {
    text-align: center;
    border: 0.3px solid rgba(46, 71, 101, 0.2);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
  }
  
  
  .receta-imagen {
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    margin-top: 4%;
  }
  
  .receta-nombre {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .receta-estrella {
    color: #ffd700; /* Color dorado para las estrellas */
    font-size: 16px;
  }
  
  .receta-numero-reviews {
    margin-left: 5px;
    font-size: 14px;
    color: #888888;
  }
  
  .receta-tipo-comida {
    display: inline-block;
    margin-top: 10px;
    font-size: 16px;
    color: #2e4765;
    background-color: rgba(46, 71, 101, 0.04);
    padding: 1%;
    border-radius: 10px;
  }
  